* {
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(9, 25, 33);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 1px;
  column-gap: 1px;
}

.grid-container > div {
  background-color: rgb(12, 39, 52);
  color: white;
  text-align: center;
  height: 50px;
}
.grid-container > div > p {
  margin: 10% auto;
}
.diff {
  margin: 15% auto !important;
  text-align: left;
  font-size: 22px;
  font-weight: bolder;
  padding-left: 5%;
}
.grid1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 300px;
  height: 100px !important;
  row-gap: 0px !important;
  color: black !important;
  background-color: white !important;
}
.grid2 {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: red !important;
}
.grid12 {
  grid-row-start: 5;
  grid-row-end: 7;
  grid-column-start: 4;
  height: 100px !important;
  background-color: rgb(255, 165, 0) !important;
}
